*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #141414;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
    background-color: #1f1f1f;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  width: 320px;
}
 .image{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin-bottom: 20px;

 }
 h1{
color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
 }

 h2{
color: #baf310;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
 }
 p{
    color: #d3d3d3;
  font-size: 14px;
  margin-bottom: 25px;
 }

 .links a{
    display: block;
    text-decoration: none;
    background-color: #333333;
  color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  font-weight: 600;
 }
    .links a:hover{
        background-color: #555555;
        color:#141414;
    }